	table {
	table-layout: fixed;
	font-size: 100%;
	font-weight: bold;
	color: black;
    border-collapse: collapse;
	margin: auto;
	border: black solid 3px;
	margin-bottom: 15px;
	margin-top: 20px;
	width: 70%;
	height: 20%;
	text-align: center;
	padding-bottom: 12%;
	}
    
	h1 {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-size: 250%;
	font-weight:bold;
	font-style: italic;
	}
	
	h2 {
	font-size: 130%;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-style: italic;
	margin-bottom: 1%
	}
	
    td, th {
        padding: 3%;
    }
    
    thead {
        background-color: lightgrey;
        color: Black;
        border: black solid 3px;
    }
    
	tbody, tr, td, th {
		text-align: center;
		table-layout: fixed;
		border: black solid 3px;
	}
	
    tbody tr:nth-child(odd){
		background-color: yellow;
		}
		
    tbody tr:nth-child(even) {
		background-color: #0099ff;
		}
	

	
	
	#bg {
	line-height:25px;
	color: white;
	text-align: center;
	border: black solid 3px;
	margin: auto;
	background-image: url("../image/gamble.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	}
	
	#betAmount {
	display: inline;
	color: black;
	padding: 1%;
	margin: 1%;
	font-size: 90%;
	font-weight: bold;
	background-color: lightgrey;
	text-align: center;
	width: 10%;
	height: 80%;
	}
	
	#p2 {
	margin-top: 1%;
	padding: 3%;
	font-size: 100%;
	color: White;
	font-weight: bold;
	}
	
	#playAgain {
	padding: 3%;
	font-size: 100%;
	color: White;
	font-weight: bold;
	}
	
	body {
		margin: auto;
	max-height: 60%;
	max-width: 40%;
	}
	
	